@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir.eot") format("eot"),
    url("../fonts/vazir.ttf") format("truetype"),
    url("../fonts/vazir.woff") format("woff2"),
    url("../fonts/vazir.woff2") format("woff");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'vazir';
  direction: rtl;
  background: #fff;
  box-sizing: border-box;
}

.header {
  background: #fbfdf8;
  border-radius: 10px;

  height: 89%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.circle {
  width: 200px;
  height: 200px;
  background: #fdd8cb;
  position: absolute;
  top: -20px;
  right: 0px;
  clip-path: circle(43.1% at 91% 18%);
}
.circle-left {
  width: 180px;
  height: 180px;
  background: #fcdfd5;
  position: absolute;
  bottom: 20px;
  left: 0px;
  clip-path: circle(44.7% at 0 45%);
}
.circle-left-inner {
  width: 200px;
  height: 200px;
  background: #f0dced;
  position: absolute;
  bottom: -20px;
  left: 0px;
  clip-path: circle(50% at 30% 82%);
}
.circle-small {
  width: 70px;
  height: 70px;
  background: #fcdfd5;
  position: absolute;
  top: 60px;
  right: 70px;
  clip-path: circle(30.5% at 50% 50%);
}
.circle-Middle {
  width: 150px;
  height: 150px;
  background: #fef0d9;
  position: absolute;
  top: -40px;
  right: 80px;
  clip-path: circle(30.5% at 50% 50%);
}
.circle-center {
  width: 400px;
  height: 100px;
  background: #fcdfd5;
  position: absolute;
  top: 40px;
  right: 380px;
  clip-path: ellipse(25% 40% at 50% 50%);
  transform: rotate(60deg);
}

header {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

header .navbar-nav .nav-link {
  padding: 0 20px;
  color: #333;
  margin-right: 20px;
  font-weight: 600;
}
header .nav-link:hover {
  border-bottom: 2px solid #f1a42f;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header .logo {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 30px;
  object-fit: cover;
}
header .logo h1 {
  color: #f1a42f;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  letter-spacing: 15px;
}

a {
  text-decoration: none;
}

.dropdown {
  z-index: 10;
  list-style: circle;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.nav-item {
  color: #fff;

  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
.blog span svg {
  color: #000;
  display: flex;
  margin-left: 10px;
}
.blog span {
  margin: 0;
}
.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item li a {
  color: #000;
}

li:hover,
li:focus-within {
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

.navbar-nav li ul {
  transition: all .5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  min-width: 8rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 0.5rem;
  left: 0px;
  display: none;
  background: #fccbb9;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

.navbar-nav li ul li:hover {
  background: #fff;
  border-radius: 3px;
  padding: 3px;
}
.navbar-nav li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.header-img {
  width: 100%;
  height: 525px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-img .imghead {
  transform: scale(1);
  transition: all 3s ease-in-out;
}
.header-img .imghead.active {
  transform: scale(1.05);
}

.header-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  left: 0;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  height: 300px;
  margin-top: 150px;
  position: relative;
  flex-wrap: wrap;
}
.header-content > .content {
  text-align: right;
  top: 0;

  position: absolute;
  width: 100%;
  margin: 0 30px;
  padding: 0px 70px;
}
.content h2,
p,
span {
  font-family: 'vazir';
  margin: 20px 0;
}

.content  span {
  font-weight: 600;
  font-size: 14px;
}
.content h2 {
  margin-bottom: 20px;
  text-align: right;
  color: #000;
}
.content h6 {
  margin-top: 0px;
  letter-spacing: 2px;
}

.content p {
  color: #616161;
  font-size: 12px;
  text-align: right;
}
.content button {
  background-color: #fccbb9;
  padding: 5px 20px;
  font-family: 'vazir';
  border: 3px solid #fccbb9;
  border-radius: 25px;
  color: #fff;
  display: flex;
  transition: all 0.3s ease-in-out;
  text-align: right;
}
.header-content button:hover {
  background: #fff;
  color: #ffba55;
  box-shadow: 0px 0px 8px #ffba55;
}
.social-tag {
  display: flex;
  width: 270px;
}
.social-media {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.social-tag p {
  font-size: 12px;
  padding: 0 5px;
  width: 40%;
}
.social-media li {
  margin: 20px 4px;
}
.social-media li a {
  text-decoration: none;
  color: #616161;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -200px;
  background: #e4a42e;
  height: 100vh;
  width: 200px;
  transition: right .8s ease-in-out;
  z-index: 100;
}
.sidebar.active {
  right: 0;
}
.sidebar svg {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}
.sidebar img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid #000;
  object-fit: cover;
}
.sidebar ul {
  margin: 50px auto;
  width: 100%;
}
.sidebar ul li {
  list-style: none;
  text-align: center;
  border-bottom: 1px solid #616161;
  border-top: 1px solid #616161;
  transition: all .4s ease-in-out;
}
.sidebar ul li:hover {
  background: #4111b3;
}
.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  display: block;
}

.Hamburger_icon {
  width: 200px;
  height: 100px;
  padding: 20px;
}
.Hamburger_icon i {
  display: flex;
  padding: 20px;
}
/* content */

.content {
  margin-top: 70px;
  width: 100%;
  padding: 50px 0;
}

.service {
  font-size: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
.service h5 {
  border-bottom: 3px solid #f1a42f;
  position: absolute;
}
.services-content {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.servic-contents:hover {
  box-shadow: 20px 0 20px rgba(243, 180, 98, 0.5);
}
.servic-contents {
  box-shadow: 20px 0 20px rgba(143, 140, 140, 0.5);
  padding: 5px;
  overflow: auto;

  margin: 20px 20px;

  width: 90%;
  height: 250px;
  display: flex;
}

.servic-content-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.servic-contents-content {
  line-height: 20px;

  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 13px;
}
.servic-content-title p {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  background: #f7f7f7;
  text-align: center;
}
.servic-contents-content p {
  text-align: right;
}

/* about */
.about {
  width: 100%;
  padding: 50px;
}
.about-content {
  width: 50%;
}
.about-content .about-title {
  text-align: right;
}
.about-content p {
  text-align: right;
  font-size: 15px;
}
.about-btn {
  background-color: #ffba55;
  padding: 5px 20px;
  font-family: 'vazir';
  border: 3px solid #ffba55;
  border-radius: 25px;
  color: #fff;
  display: flex;
  margin-right: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.about-img {
  width: 30%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 50px;
}
.about-img img {
  width: 50%;
  height: 50%;
  border-radius: 5px;
  object-fit: cover;

  transition: all .3s ease-in-out;
}
.about-img img:hover {
  transform: rotate(0deg);
  box-shadow: 0px 0px 8px #ffba55;
}

/*about*/
.project {
  width: 100%;
  height: 50px;

  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.num-project {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-resume {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.project-resume  .service {
  width: calc(50% -30px);
  margin-top: 20px;
}
.tab-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
.tab-menu ul li {
  margin-left: 20px;
  cursor: pointer;
}
.tab-menu ul li.active {
  color: #e0953e;
}
.portfolio-gallery {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  height: auto;
  margin: 10px auto;
}

.portfolio-gallery .item {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.portfolio-gallery .item img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
  border: 5px solid #e0953e;
  border-radius: 10px;
}
.portfolio-gallery .item .inner {
  position: relative;
}
.portfolio-gallery .item .inner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}
.portfolio-gallery .item:hover .inner .overlay {
  opacity: 1;
}
.portfolio-gallery .item .inner .overlay svg {
  background: #e0953e;

  width: 30px;
  height: 30px;

  padding: 5px;
  border-radius: 50%;
  display: flex;
  color: #fff;

  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.portfolio-gallery .item .inner .overlay h3 {
  color: #fff;
  transform: translateY(30px);
  transition: all .3s ease-in-out;
}
.portfolio-gallery .item:hover .inner .overlay h3 {
  transform: translateY(0px);
}
.lightBox {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.lightBox.show {
  display: flex;
}
.lightBox img {
  width: 80%;
  height: 80%;
}
.lightBox  .close {
  width: 50px;
}
.lightBox  svg {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100%;
  height: 50px;
  font-size: 30px;
  background-color: #e0953e;

  padding: 5px;
  color: #fff;
  cursor: pointer;
}

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 15 auto;

  width: 100%;
}
.card-grid-space {
  margin: 15 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
  height: 20em;
  width: 14em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 5px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before,
.card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before,
.card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* footer */

footer {
  padding: 50px 0;
  background: #fbfdf8;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  width: 100%;

  position: relative;
}

footer p {
  text-align: center;
  color: #222;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
  left: 0;
  right: 0;
  width: 100%;
  flex-direction: row;
  height: 100%;
}

.f-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  left: 0;
  right: 0;
}
.footer-content .name {
  color: #f1a42f;
}
.footer-content h5 {
  margin: 10px 0;
}
.footer-content ul li {
  list-style: none;
}
.footer-content h2 {
  margin-bottom: 30px;
}
.to-top {
  position: fixed;
  right: 2%;
  bottom: 5%;
  width: 50px;
  height: 50px;
  background: #f7f7f7;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s ease-in-out;
  opacity: 0;
}
.to-top.active {
  opacity: 1;
  bottom: 5%;
}
.to-top svg {
  font-size: 25px;
  color: #000;
}
@media screen and (min-width: 992px) {
  .navbar-nav {
    display: flex;
  }
  .Hamburger_icon svg {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .navbar-nav {
    display: none;
  }
  .Hamburger_icon svg {
    display: flex;
  }
}

@media screen and (max-width: 1200px) {
  .circle-center {
    display: none;
    opacity: 0;
  }
}
